--
-- PostgreSQL database dump
--

\restrict iqmPobo09HFvGJCHubDmlBLFIcq3t30QwACE1OOFde55BFo6vhdvoTkdRePTUGf

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: auth_schema; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA auth_schema;


--
-- Name: compra_schema; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA compra_schema;


--
-- Name: metodopago_schema; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA metodopago_schema;


--
-- Name: producto_schema; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA producto_schema;


--
-- Name: usuario_schema; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA usuario_schema;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: carrito_compra; Type: TABLE; Schema: compra_schema; Owner: -
--

CREATE TABLE compra_schema.carrito_compra (
    cantidad integer,
    eliminado integer,
    id integer NOT NULL,
    producto_id integer,
    usuario_id integer
);


--
-- Name: carrito_compra_id_seq; Type: SEQUENCE; Schema: compra_schema; Owner: -
--

ALTER TABLE compra_schema.carrito_compra ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME compra_schema.carrito_compra_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: compra; Type: TABLE; Schema: compra_schema; Owner: -
--

CREATE TABLE compra_schema.compra (
    eliminado integer,
    id integer NOT NULL,
    igv double precision,
    metodo_pago_id integer,
    subtotal double precision,
    total double precision,
    usuario_id integer,
    fecha timestamp(6) without time zone,
    codigo character varying(200) NOT NULL
);


--
-- Name: compra_id_seq; Type: SEQUENCE; Schema: compra_schema; Owner: -
--

ALTER TABLE compra_schema.compra ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME compra_schema.compra_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: detalle_compra; Type: TABLE; Schema: compra_schema; Owner: -
--

CREATE TABLE compra_schema.detalle_compra (
    cantidad integer,
    carrito_compra_id integer,
    compra_id integer NOT NULL,
    eliminado integer,
    id integer NOT NULL,
    precio double precision,
    producto_id integer,
    subtotal double precision
);


--
-- Name: detalle_compra_id_seq; Type: SEQUENCE; Schema: compra_schema; Owner: -
--

ALTER TABLE compra_schema.detalle_compra ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME compra_schema.detalle_compra_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: metodopago; Type: TABLE; Schema: metodopago_schema; Owner: -
--

CREATE TABLE metodopago_schema.metodopago (
    id integer NOT NULL,
    descripcion character varying(250),
    eliminado integer NOT NULL,
    tipo character varying(45) NOT NULL
);


--
-- Name: metodopago_id_seq; Type: SEQUENCE; Schema: metodopago_schema; Owner: -
--

ALTER TABLE metodopago_schema.metodopago ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME metodopago_schema.metodopago_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: transaccion_pago; Type: TABLE; Schema: metodopago_schema; Owner: -
--

CREATE TABLE metodopago_schema.transaccion_pago (
    id bigint NOT NULL,
    client_secret character varying(200),
    compra_id bigint NOT NULL,
    descripcion character varying(500),
    detalles_respuesta character varying(1000),
    eliminado integer NOT NULL,
    estado character varying(50) NOT NULL,
    fecha_actualizacion timestamp(6) without time zone,
    fecha_creacion timestamp(6) without time zone NOT NULL,
    fecha_pago timestamp(6) without time zone,
    mensaje_error character varying(500),
    metodo_pago_id bigint NOT NULL,
    moneda character varying(3) NOT NULL,
    monto numeric(10,2) NOT NULL,
    referencia_externa character varying(200),
    CONSTRAINT transaccion_pago_estado_check CHECK (((estado)::text = ANY ((ARRAY['PENDIENTE'::character varying, 'PROCESANDO'::character varying, 'COMPLETADA'::character varying, 'FALLIDA'::character varying, 'CANCELADA'::character varying, 'REEMBOLSADA'::character varying])::text[])))
);


--
-- Name: transaccion_pago_id_seq; Type: SEQUENCE; Schema: metodopago_schema; Owner: -
--

ALTER TABLE metodopago_schema.transaccion_pago ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME metodopago_schema.transaccion_pago_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: categoria; Type: TABLE; Schema: producto_schema; Owner: -
--

CREATE TABLE producto_schema.categoria (
    id integer NOT NULL,
    descripcion character varying(200),
    eliminado integer,
    nombre character varying(45) NOT NULL
);


--
-- Name: categoria_id_seq; Type: SEQUENCE; Schema: producto_schema; Owner: -
--

ALTER TABLE producto_schema.categoria ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME producto_schema.categoria_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: producto; Type: TABLE; Schema: producto_schema; Owner: -
--

CREATE TABLE producto_schema.producto (
    id integer NOT NULL,
    codigo character varying(45) NOT NULL,
    descripcion character varying(200),
    eliminado integer,
    nombre character varying(70) NOT NULL,
    precio double precision,
    stock integer,
    url character varying(200),
    categoria_id integer NOT NULL
);


--
-- Name: producto_id_seq; Type: SEQUENCE; Schema: producto_schema; Owner: -
--

ALTER TABLE producto_schema.producto ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME producto_schema.producto_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuario; Type: TABLE; Schema: usuario_schema; Owner: -
--

CREATE TABLE usuario_schema.usuario (
    id integer NOT NULL,
    apellidos character varying(45) NOT NULL,
    direccion character varying(100),
    eliminado integer NOT NULL,
    email character varying(45),
    identificacion character varying(20) NOT NULL,
    nombres character varying(45) NOT NULL,
    password character varying(200) NOT NULL,
    rol character varying(45) NOT NULL,
    telefono character varying(45),
    username character varying(45) NOT NULL
);


--
-- Name: usuario_id_seq; Type: SEQUENCE; Schema: usuario_schema; Owner: -
--

ALTER TABLE usuario_schema.usuario ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME usuario_schema.usuario_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: carrito_compra; Type: TABLE DATA; Schema: compra_schema; Owner: -
--

COPY compra_schema.carrito_compra (cantidad, eliminado, id, producto_id, usuario_id) FROM stdin;
\.


--
-- Data for Name: compra; Type: TABLE DATA; Schema: compra_schema; Owner: -
--

COPY compra_schema.compra (eliminado, id, igv, metodo_pago_id, subtotal, total, usuario_id, fecha, codigo) FROM stdin;
\.


--
-- Data for Name: detalle_compra; Type: TABLE DATA; Schema: compra_schema; Owner: -
--

COPY compra_schema.detalle_compra (cantidad, carrito_compra_id, compra_id, eliminado, id, precio, producto_id, subtotal) FROM stdin;
\.


--
-- Data for Name: metodopago; Type: TABLE DATA; Schema: metodopago_schema; Owner: -
--

COPY metodopago_schema.metodopago (id, descripcion, eliminado, tipo) FROM stdin;
\.


--
-- Data for Name: transaccion_pago; Type: TABLE DATA; Schema: metodopago_schema; Owner: -
--

COPY metodopago_schema.transaccion_pago (id, client_secret, compra_id, descripcion, detalles_respuesta, eliminado, estado, fecha_actualizacion, fecha_creacion, fecha_pago, mensaje_error, metodo_pago_id, moneda, monto, referencia_externa) FROM stdin;
\.


--
-- Data for Name: categoria; Type: TABLE DATA; Schema: producto_schema; Owner: -
--

COPY producto_schema.categoria (id, descripcion, eliminado, nombre) FROM stdin;
\.


--
-- Data for Name: producto; Type: TABLE DATA; Schema: producto_schema; Owner: -
--

COPY producto_schema.producto (id, codigo, descripcion, eliminado, nombre, precio, stock, url, categoria_id) FROM stdin;
\.


--
-- Data for Name: usuario; Type: TABLE DATA; Schema: usuario_schema; Owner: -
--

COPY usuario_schema.usuario (id, apellidos, direccion, eliminado, email, identificacion, nombres, password, rol, telefono, username) FROM stdin;
1	User		0	test1@example.com	00000001	Test	$2a$10$0T7GlETgug8v7nCskP28sOZLwN.u80IAha3M/WGJs9FxqALeHpBAe	USUARIO		test1
2	User		0	admin@farmaciadey.com	00000002	Admin	$2a$10$2ALEOXK0F3VzUupZVHpNuev9hazGKXs4YrSN.ulcRmyeNSWcf7ybO	ADMIN		admin
3	Huerta	Lima, Per├║	0	phuerta@farmacia.com	12345678	Pablo	$2a$10$hwBP40L5yDASc7ExzpC5..2aDqaKBB4RiWk16MQxtEh5DX.1Ajj3i	administrador	987654321	phuerta
\.


--
-- Name: carrito_compra_id_seq; Type: SEQUENCE SET; Schema: compra_schema; Owner: -
--

SELECT pg_catalog.setval('compra_schema.carrito_compra_id_seq', 1, false);


--
-- Name: compra_id_seq; Type: SEQUENCE SET; Schema: compra_schema; Owner: -
--

SELECT pg_catalog.setval('compra_schema.compra_id_seq', 1, false);


--
-- Name: detalle_compra_id_seq; Type: SEQUENCE SET; Schema: compra_schema; Owner: -
--

SELECT pg_catalog.setval('compra_schema.detalle_compra_id_seq', 1, false);


--
-- Name: metodopago_id_seq; Type: SEQUENCE SET; Schema: metodopago_schema; Owner: -
--

SELECT pg_catalog.setval('metodopago_schema.metodopago_id_seq', 1, false);


--
-- Name: transaccion_pago_id_seq; Type: SEQUENCE SET; Schema: metodopago_schema; Owner: -
--

SELECT pg_catalog.setval('metodopago_schema.transaccion_pago_id_seq', 1, false);


--
-- Name: categoria_id_seq; Type: SEQUENCE SET; Schema: producto_schema; Owner: -
--

SELECT pg_catalog.setval('producto_schema.categoria_id_seq', 1, false);


--
-- Name: producto_id_seq; Type: SEQUENCE SET; Schema: producto_schema; Owner: -
--

SELECT pg_catalog.setval('producto_schema.producto_id_seq', 1, false);


--
-- Name: usuario_id_seq; Type: SEQUENCE SET; Schema: usuario_schema; Owner: -
--

SELECT pg_catalog.setval('usuario_schema.usuario_id_seq', 3, true);


--
-- Name: carrito_compra carrito_compra_pkey; Type: CONSTRAINT; Schema: compra_schema; Owner: -
--

ALTER TABLE ONLY compra_schema.carrito_compra
    ADD CONSTRAINT carrito_compra_pkey PRIMARY KEY (id);


--
-- Name: compra compra_codigo_key; Type: CONSTRAINT; Schema: compra_schema; Owner: -
--

ALTER TABLE ONLY compra_schema.compra
    ADD CONSTRAINT compra_codigo_key UNIQUE (codigo);


--
-- Name: compra compra_pkey; Type: CONSTRAINT; Schema: compra_schema; Owner: -
--

ALTER TABLE ONLY compra_schema.compra
    ADD CONSTRAINT compra_pkey PRIMARY KEY (id);


--
-- Name: detalle_compra detalle_compra_pkey; Type: CONSTRAINT; Schema: compra_schema; Owner: -
--

ALTER TABLE ONLY compra_schema.detalle_compra
    ADD CONSTRAINT detalle_compra_pkey PRIMARY KEY (id);


--
-- Name: metodopago metodopago_pkey; Type: CONSTRAINT; Schema: metodopago_schema; Owner: -
--

ALTER TABLE ONLY metodopago_schema.metodopago
    ADD CONSTRAINT metodopago_pkey PRIMARY KEY (id);


--
-- Name: transaccion_pago transaccion_pago_pkey; Type: CONSTRAINT; Schema: metodopago_schema; Owner: -
--

ALTER TABLE ONLY metodopago_schema.transaccion_pago
    ADD CONSTRAINT transaccion_pago_pkey PRIMARY KEY (id);


--
-- Name: categoria categoria_pkey; Type: CONSTRAINT; Schema: producto_schema; Owner: -
--

ALTER TABLE ONLY producto_schema.categoria
    ADD CONSTRAINT categoria_pkey PRIMARY KEY (id);


--
-- Name: producto producto_pkey; Type: CONSTRAINT; Schema: producto_schema; Owner: -
--

ALTER TABLE ONLY producto_schema.producto
    ADD CONSTRAINT producto_pkey PRIMARY KEY (id);


--
-- Name: producto ukkxdt4u9c4w6vveo7ylph4pd09; Type: CONSTRAINT; Schema: producto_schema; Owner: -
--

ALTER TABLE ONLY producto_schema.producto
    ADD CONSTRAINT ukkxdt4u9c4w6vveo7ylph4pd09 UNIQUE (codigo);


--
-- Name: usuario uk863n1y3x0jalatoir4325ehal; Type: CONSTRAINT; Schema: usuario_schema; Owner: -
--

ALTER TABLE ONLY usuario_schema.usuario
    ADD CONSTRAINT uk863n1y3x0jalatoir4325ehal UNIQUE (username);


--
-- Name: usuario usuario_pkey; Type: CONSTRAINT; Schema: usuario_schema; Owner: -
--

ALTER TABLE ONLY usuario_schema.usuario
    ADD CONSTRAINT usuario_pkey PRIMARY KEY (id);


--
-- Name: detalle_compra fkqwu2j7ft8a7gg1t54pllqtqas; Type: FK CONSTRAINT; Schema: compra_schema; Owner: -
--

ALTER TABLE ONLY compra_schema.detalle_compra
    ADD CONSTRAINT fkqwu2j7ft8a7gg1t54pllqtqas FOREIGN KEY (compra_id) REFERENCES compra_schema.compra(id);


--
-- Name: producto fkodqr7965ok9rwquj1utiamt0m; Type: FK CONSTRAINT; Schema: producto_schema; Owner: -
--

ALTER TABLE ONLY producto_schema.producto
    ADD CONSTRAINT fkodqr7965ok9rwquj1utiamt0m FOREIGN KEY (categoria_id) REFERENCES producto_schema.categoria(id);


--
-- PostgreSQL database dump complete
--

\unrestrict iqmPobo09HFvGJCHubDmlBLFIcq3t30QwACE1OOFde55BFo6vhdvoTkdRePTUGf

